.www-left {
    float: left;
    width: 646.38px;
}

.www-right {
    float: right;
    width: 309.8px;
}

.sign-in-inputs {
    margin-top: 5px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    -moz-box-shadow: inset 0 1px 2px #eee;
    -ms-box-shadow: inset 0 1px 2px #eee;
    -webkit-box-shadow: inset 0 1px 2px #eee;
    box-shadow: inset 0 1px 2px #eee;
    background-color: #fff;
    width: 97%;
    outline: currentcolor none medium;
    padding: 3px;
}

.small-text {
    margin-top: 14px;
    font-size: 11px;
    color: #666;
}

.sign-in-div {
    padding: 5px;
    position: relative;
    left: -10px;
    bottom: 10px;
    border-radius: 5px;
}

.video-manager-stats {
    background: none;padding: 8px;vertical-align: top;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}